<div ng-controller="extractRecipeController" ng-show="finishedLoading">
   <link ng-href="{{styleSheetUrl}}" rel="stylesheet" type="text/css">
   <form class="dku-form-horizontal">
      <div class="control-group">
         <label class="control-label">Select extracted layer</label>
         <div class="controls">
            <select dku-bs-select
               name="extract_layer_index" 
               ng-model="config.extract_layer_index"
               ng-options="l.index as l.name for l in layers">
            </select>
         </div>
      </div>
      <gpu-form></gpu-form>
      <div class="control-group">
         <div class="link-like" ng-click="toggleAdvancedParams()">
            {{getShowHideAdvancedParamsMessage()}}
         </div>
      </div>
      <div ng-show="showAdvancedParams">
         <div class="model-summary-container">
            {{modelSummary}}
         </div>
      </div>
   </form>
</div>