<div ng-controller="gpuController">
    <!-- <div ng-if="canUseGPU"> -->
    <div>
        <h2 class="settings-section-title">GPU</h2>
        <div class="control-group">
            <label class="control-label">Use GPU</label>
            <div class="controls">
                <input name="should_use_gpu" type="checkbox" ng-model="config.should_use_gpu"/>
            </div>
        </div>
        <!-- <div ng-show="canUseGPU && config.should_use_gpu"> -->
        <div ng-show="config.should_use_gpu">
            <div class="control-group">
                <label class="control-label">GPU Usage</label>
                <div class="controls">
                    <select dku-bs-select
                        name="gpu_usage"
                        ng-model="config.gpu_usage"
                        ng-options="gc.value as gc.label for gc in gpuUsage">
                    </select>
                </div>
            </div>
            <div ng-if="config.gpu_usage == 'custom'">
                <div class="control-group">
                    <label class="control-label">Select GPUs to use</label>
                    <div class="controls">
                        <div
                            name="gpu_list"
                            ng-model="config.gpu_list"
                            options='gpuList'
                            multiselect-field
                            required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">GPU Memory</label>
                <div class="controls">
                    <select dku-bs-select
                         name="gpu_memory_allocation_mode"
                         ng-model="config.gpu_memory_allocation_mode"
                         ng-options="gm.value as gm.label for gm in gpuMemoryAllocationMode">
                    </select>
                </div>
            </div>
            <div ng-if="config.gpu_memory_allocation_mode == 'memory_limit'">
                <div class="control-group">
                    <label class="control-label">Memory allocation</label>
                    <div class="controls">
                        <div dku-slider value="config.gpu_memory_limit" style="width: 205px; display: inline-block;" type="number" min="0" max="100"></div>
                        <span class="help-inline" style="vertical-align: top;">in %</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>