<div ng-controller="retrainRecipeController" ng-show="finishedLoading">
    <link ng-href="{{ styleSheetUrl }}" rel="stylesheet" type="text/css">
    <form class="dku-form-horizontal">
        <h2 class="settings-section-title">Dataset with labels</h2>
        <div class="control-group">
            <label class="control-label">Image filename column</label>
            <div class="controls">
                <select dku-bs-select
                        ng-model="config.col_filename"
                        ng-options="c for c in labelColumns">
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Label column</label>
            <div class="controls">
                <select dku-bs-select
                        ng-model="config.col_label"
                        ng-options="c for c in labelColumns">
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Train ratio</label>
            <div class="controls">
                <input type="number" min="0" max="1" step="0.001" ng-model="config.train_ratio" required/>
                <span class="help-inline">Proportion of the sample that goes to the train set. The rest goes to the test set</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Random seed</label>
            <div class="controls">
                <input type="number" min="0" step="1" ng-model="config.random_seed" required/>
                <span class="help-inline">Using a fixed random seed allows for reproducible result</span>
            </div>
        </div>
        <h2 class="settings-section-title">Model</h2>
        <div class="control-group">
            <label class="control-label">Pooling</label>
            <div class="controls">
                <select dku-bs-select
                        ng-model="config.model_pooling"
                        ng-options="p[1] as p[0] for p in poolingOptions"
                        ng-disabled="retrained">
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Image shape (Height | Width)</label>
            <div class="controls">
                <input style="width: 98px; margin-left: 8px;" type="number" min="197" step="1"
                       ng-model="config.image_height" ng-disabled="retrained" required/>
                <input style="width: 98px;" type="number" min="197" step="1" ng-model="config.image_width"
                       ng-disabled="retrained" required>
                <span class="help-inline" ng-if="retrained">Input model has already be retrained. Pooling and size are already set.</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Layer(s) to retrain</label>
            <div class="controls">
                <select dku-bs-select
                        ng-model="config.layer_to_retrain"
                        ng-options="l[1] as l[0] for l in layersOptions">
                </select>
                <input style="width: 50px;" type="number" min="1" step="1" ng-model="config.layer_to_retrain_n"
                       ng-if="config.layer_to_retrain == 'n_last'" required/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Dropout</label>
            <div class="controls">
                <input type="number" min="0" max="1" step="0.001" ng-model="config.model_dropout" required/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">L1 regularization</label>
            <div class="controls">
                <input type="number" min="0" step="0.001" ng-model="config.model_reg.l1" required/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">L2 regularization</label>
            <div class="controls">
                <input type="number" min="0" step="0.001" ng-model="config.model_reg.l2" required/>
            </div>
        </div>
        <div class="control-group">
            <button class="btn btn--secondary" ng-click="toggleAdvancedParams()">
                {{ getShowHideAdvancedParamsMessage() }}
            </button>
        </div>
        <div ng-show="showAdvancedParams">
            <div class="model-summary-container">
                {{ modelSummary }}
            </div>
        </div>
        <h2 class="settings-section-title">Optimization</h2>
        <div class="control-group">
            <label class="control-label">Optimizer</label>
            <div class="controls">
                <select dku-bs-select
                        ng-model="config.model_optimizer"
                        ng-options="o[1] as o[0] for o in optimizerOptions">
                </select>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Learning rate</label>
            <div class="controls">
                <input type="number" min="0" step="0.001" ng-model="config.model_learning_rate" required/>
            </div>
        </div>
        <div class="control-group several-controls">
            <label class="control-label">Custom parameters</label>
            <div class="controls" ng-repeat="cp in config.model_custom_params_opti">
                <input type="text" ng-model="cp.name" placeholder="Parameter"/>
                <input type="text" ng-model="cp.value" placeholder="Value"/>
                <div class="link-like dib" ng-click="removeCustomParam($index, 'model_custom_params_opti')"><i
                        class="icon-trash"></i></div>
            </div>
            <div class="controls">
                <button class="btn btn-default" ng-click="addCustomParam('model_custom_params_opti')">Add</button>
                <span class="help-inline">See available parameters here:
                    <a href="https://keras.io/api/optimizers/#available-optimizers" target="_blank">
                        https://keras.io/api/optimizers/#available-optimizers
                    </a>
                </span>
            </div>
        </div>
        <h2 class="settings-section-title">Training</h2>
        <div class="control-group">
            <label class="control-label">Batch size</label>
            <div class="controls">
                <input type="number" min="1" step="1" ng-model="config.batch_size" required/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Number of epochs</label>
            <div class="controls">
                <input type="number" min="1" step="1" ng-model="config.nb_epochs" required/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Steps per epoch</label>
            <div class="controls">
                <input type="number" min="1" step="1" ng-model="config.nb_steps_per_epoch" required/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Number of validation steps</label>
            <div class="controls">
                <input type="number" min="1" step="1" ng-model="config.nb_validation_steps" required/>
            </div>
        </div>
        <h2 class="settings-section-title">Advanced</h2>
        <div class="control-group">
            <label class="control-label">Use data augmentation</label>
            <div class="controls">
                <input name="data_augmentation" type="checkbox" ng-model="config.data_augmentation"/>
            </div>
        </div>
        <div ng-show="config.data_augmentation">
            <div class="control-group">
                <label class="control-label">↳ # augmentation per image</label>
                <div class="controls">
                    <input type="number" min="1" step="1" ng-model="config.n_augmentation" required/>
                    <span class="help-inline">This number must be lower than batch size</span>
                </div>
            </div>
            <div class="control-group several-controls">
                <label class="control-label">↳ Custom parameters</label>
                <div class="controls" ng-repeat="cp in config.model_custom_params_data_augmentation">
                    <input type="text" ng-model="cp.name" placeholder="Parameter"/>
                    <input type="text" ng-model="cp.value" placeholder="Value"/>
                    <div class="link-like dib"
                         ng-click="removeCustomParam($index, 'model_custom_params_data_augmentation')"><i
                            class="icon-trash"></i></div>
                </div>
                <div class="controls">
                    <button class="btn btn-default" ng-click="addCustomParam('model_custom_params_data_augmentation')">
                        Add
                    </button>
                    <span class="help-inline">See available parameters here:
                        <a href="https://keras.io/api/preprocessing/image/#imagedatagenerator-class" target="_blank">
                            https://keras.io/api/preprocessing/image/#imagedatagenerator-class
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Use TensorBoard</label>
            <div class="controls">
                <input name="tensorboard" type="checkbox" ng-model="config.tensorboard"/>
                <span class="help-inline">You can access tensorboard via a DSS webapp</span>
            </div>
        </div>
        <gpu-form></gpu-form>
    </form>
</div>