<div ng-controller="scoringRecipeController" ng-show="finishedLoading">
    <link ng-href="{{ styleSheetUrl }}" rel="stylesheet" type="text/css">
    <form class="dku-form-horizontal">
        <div class="control-group">
            <label class="control-label">Max number of class labels</label>
            <div class="controls">
                <input name=max_nb_labels type="number" min="0" step="1" ng-model="config.max_nb_labels"/>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Min probability threshold</label>
            <div class="controls">
                <input name=min_threshold type="number" min="0" max="1" step="0.1" ng-model="config.min_threshold"/>
                <span class="help-inline">Class labels less probable than this threshold (between 0 and 1) will not be output.</span>
            </div>
        </div>
        <gpu-form></gpu-form>
    </form>
</div>